<h2>Products</h2>
<div class="mb-3">
  <label for="" class="form-label">Category:</label>
  <select  class="form-control" name="" id="">
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>
</div>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Image</th>
        <th scope="col">Category ID</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of prdList">
        <td>{{item?.id}}</td>
        <td>{{item?.name}}</td>
        <td>{{item?.price|currency}}</td>
        <td>{{item?.quantity}}</td>
        <td><img [src]='item?.img'></td>
        <td>{{item?.categoryId}}</td>
        <td><button type="button" class="btn btn-success" (click)="BuyItem(item.id)">Buy</button></td>

      </tr>
    </tbody>
  </table>
  <h3 *ngIf="!noDiscount"> We offer an explicit discount of {{ discount|percent }}</h3>

