<div *ngIf="IsShown">
    <h2>Products</h2>
    <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Category:</label>
        <select class="form-control" name="" id="">
            <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
        </select>
    </div>
    <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Enter Your Name: </label>
        <input type="text" class="form-control" [(ngModel)]="clientName" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Welcome: {{clientName}}</small>
    </div>

    <hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-secondary me-md-4" type="button" (click)="AllOffers()">All Products</button>
        <button class="btn btn-secondary me-md-4" type="button" (click)="DiscountOffers()">Discount</button>
        <button class="btn btn-secondary" type="button" (click)="NoDiscountOffers()">No Discount</button>
    </div>
    <hr>

    <!-- All Products -->
    <div col-lg-8 *ngIf="all&&!dis&&!nodis">
        <div class="row row-cols-3 ">
            <div *ngFor="let item of prdList" class="card col" style="width: 18rem; ">
                <img [src]="item.img" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h4><span class="badge rounded-pill bg-primary" *ngIf="item.dis">{{item.dis|percent}} OFF</span>
                    </h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item?.price|currency}}</p>
                    <div class="card-img-overlay">
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        <div class="d-grid gap-2">
                            <button type="button" (click)="BuyItem(item.name, item.img, item.price)"
                                class="btn btn-primary ">Buy</button>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- Discount -->
    <div col-lg-8 *ngIf="!all&&dis&&!nodis">
        <div class="row row-cols-3 " *ngFor="let item of prdList">
            <div class="card col" style="width: 18rem; " *ngIf="item.dis">
                <div>
                    <img [src]="item.img" class="card-img-top" alt="...">
                    <div class="card-img-overlay">
                        <h4><span class="badge rounded-pill bg-primary" *ngIf="item.dis">{{item.dis|percent}} OFF</span>
                        </h4>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item?.price|currency}}</p>
                        <div class="card-img-overlay">
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <div class="d-grid gap-2">
                                <button type="button" (click)="BuyItem(item.name, item.img, item.price)"
                                    class="btn btn-primary ">Buy</button>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- No Discount -->
    <div col-lg-8 *ngIf="!all&&!dis&&nodis">
        <div class="row row-cols-3 " *ngFor="let item of prdList">
            <div class="card col" style="width: 18rem; ">
                <div *ngIf="!item.dis">
                    <img [src]="item.img" class="card-img-top" alt="...">
                    <div class="card-img-overlay">
                        <h4><span class="badge rounded-pill bg-primary" *ngIf="item.dis">{{item.dis|percent}} OFF</span>
                        </h4>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item?.price|currency}}</p>
                        <div class="card-img-overlay">
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <div class="d-grid gap-2">
                                <button type="button" (click)="BuyItem(item.name, item.img, item.price)"
                                    class="btn btn-primary ">Buy</button>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!IsShown">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="prdimg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Thanks for purchasing from our Store : {{clientName}}</h5>
                    <p class="card-text">{{prdName}}</p>
                    <p class="card-text"><small class="text-muted">{{price|currency}}</small></p>
                </div>
            </div>
        </div>
    </div>
    <button type="button" (click)="GoBack()" class="btn btn-primary">Go Back</button>
</div>